<footer>
    <div class="flexFooter">
    <div class="footer">
        <h3>Medios de Pago</h3>
        <img src="/images/mediosdepago.png" alt="mediosdepago" class="imgmediosdepago">
    </div>
    <div class="footer">
        <h3>Nuestras redes sociales</h3>
        <img src="/images/redessociales.png" alt="redessociales">
    </div>
    <div class="footer">
        <h3>Contacto</h3>
        <p>tienda5@gmail.com</p>
    </div>
    </div>

</footer>