
<header>
    
    <nav class="navBar">
        <div><img src="/images/logo.jpeg" alt=""></div>

        <div><ul>
            <li class="liOcultoNavBar"><a href="/">Inicio</a></li>
            <li class="liOcultoNavBar"><a href="/Productos">Productos</a></li>

            <% if (locals.isLogged) { %>
                <li class="liOcultoNavBar"><img src="/images/usersAvatars/<%= locals.userLogged.avatar %>" class="imageAvatar"></li>
                                        
                        <li class="liOcultoNavBar"><a href="/Usuarios/logout">Logout</a></li>
                        <li class="liOcultoNavBar"><a href="/Usuarios/login"><span class="material-symbols-outlined">person</span></a></li>
                    
                
            <% } else { %>
                <li class="liOcultoNavBar"><a href="/Usuarios/Registrarse">Registrarse</a></li>
                <li class="liOcultoNavBar"><a href="/Usuarios/login"><span class="material-symbols-outlined">person</span></a></li>
            <% } %>

            
           
            <li><span class="material-symbols-outlined">search</span></li>
            
            <li><a href="/Productos/Carrito"><span class="material-symbols-outlined">shopping_bag</span></a></li>
            <li class="menuOcultoNavBar"><span class="material-symbols-outlined">menu</span></li>
        </ul></div>
    </nav>
</header>