
<header>
    
    <nav class="navBar">
        <div><img src="/images/logo.jpeg" alt=""></div>

<<<<<<< HEAD
        <!--<div class="menu-completo">-->
        <div class="div-menu">
            <ul>
                <!--<div class="div-menu">-->
                    <li class="liOcultoNavBar"><a href="/">Inicio</a></li>
                    <li class="liOcultoNavBar"><a href="/Productos">Productos</a></li>
            
                    <% if (locals.isLogged) { %>
                        <li class="liOcultoNavIcon"><img src="/images/usersAvatars/<%= locals.userLogged.avatar %>" class="imageAvatar"></li>
                                        
                        <li class="liOcultoNavIcon"><a href="/Usuarios/logout">Logout</a></li>
                        <li class="liOcultoNavIcon"><a href="/Usuarios/login"><span class="material-symbols-outlined">person</span></a></li>
=======
        <div><ul>
            <li class="liOcultoNavBar"><a href="/">Inicio</a></li>
            <li class="liOcultoNavBar"><a href="/Productos">Productos</a></li>

            <% if (locals.isLogged) { %>

                
                <li class="liOcultoNavBar"><img src="/images/usersAvatars/<%= locals.userLogged.avatar %>" class="imageAvatar"></li>                
                <li class="liOcultoNavBar"><a href="/Usuarios/logout">Logout</a></li>
                <li class="liOcultoNavBar"><a href="/Usuarios/login"><span class="material-symbols-outlined">person</span></a></li>
>>>>>>> 808d61ac9c77a143adebb17855dcce80c58514ca
                    
                
                    <% } else { %>
                        <li class="liOcultoNavBar"><a href="/Usuarios/Registrarse">Registrarse</a></li>
                        <!--<li class="liOcultoNavIcon"><a href="/Usuarios/login"><span class="material-symbols-outlined">person</span></a></li>-->
                    <% } %>
            </ul>
        </div>    
            
            
<<<<<<< HEAD
            <div class="div-iconos">
                <ul>
                    <li class="liOcultoNavBa"><a href="/Usuarios/login"><span class="material-symbols-outlined">person</span></a></li>
                    <li class="liOcultoNavIcon"><span class="material-symbols-outlined icon">search</span></li>
=======
           
            <li><span class="material-symbols-outlined icon">search</span></li>
            
>>>>>>> 808d61ac9c77a143adebb17855dcce80c58514ca
            
                    <li class="liOcultoNavIcon"><a href="/Productos/Carrito"><span class="material-symbols-outlined">shopping_bag</span></a></li>
                    <input type="checkbox" id="btn-menu">
                    <label id="btn-label" for="btn-menu"><span class="material-symbols-outlined">menu</span></label>
                </ul>
            </div>
                        <!--<li class="menuOcultoNavBar"><span class="material-symbols-outlined">menu</span></li>-->
            <!--<nav class="menu-vertical">
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Registrarse</a></li>
                </ul>
            </nav>-->
        <!--</ul></div>-->
    </nav>
</header>