<header>
    
    <nav class="navBar">
        <div><img src="/images/logo.jpeg" alt=""></div>

        <div><ul>
            <li class="liOcultoNavBar"><a href="/">Inicio</a></li>
            <li class="liOcultoNavBar">Productos</li>
            <li class="liOcultoNavBar"><a href="/Registrarse">Registrarse</a></li>
            <li><span class="material-symbols-outlined">search</span></li>
            <li class="liOcultoNavBar"><a href="/login"><span class="material-symbols-outlined">person</span></a></li>
            <li><a href="/Carrito"><span class="material-symbols-outlined">shopping_bag</span></a></li>
            <li class="menuOcultoNavBar"><span class="material-symbols-outlined">menu</span></li>
        </ul></div>
    </nav>
</header>