<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda5</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/458eb88383.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>


<body>

    <div id="bienvenida">¡Bienvenidos! Hacemos envíos a todo el país</div>

    <header>
    
    <nav class="navBar">
        <div><img src="/images/logo.jpeg" alt=""></div>

        <div><ul>
            <li class="liOcultoNavBar"><a href="http://localhost:3000" target="_blank">Inicio</a></li>
            <li class="liOcultoNavBar">Productos</li>
            <li class="liOcultoNavBar"><a href="http://localhost:3000/Registrarse" target="_blank">Registrarse</a></li>
            <li><span class="material-symbols-outlined">search</span></li>
            <li class="liOcultoNavBar"><a href="http://localhost:3000/login" target="_blank"><span class="material-symbols-outlined">person</span></a></li>
            <li><a href="http://localhost:3000/Carrito" target="_blank"><span class="material-symbols-outlined">shopping_bag</span></a></li>
            <li class="menuOcultoNavBar"><span class="material-symbols-outlined">menu</span></li>
        </ul></div>
    </nav>
    </header>


    <main>
        <h3 class="formulario">Crea tu cuenta</h3>
        <form action="/" method="post" class="formulario">
            <div class="formColumnas">
                
                <div class="formulariodiv">
                    <p>Nombres:</p>
                    <input type="text" name="nombres" placeholder="Ej: Pablo Gabriel" class="inputcontrol" required oninvalid="setCustomValidity('Debe ingresar su/s nombre/s')" oninput="setCustomValidity('')">
                </div>
            
                
                <div class="formulariodiv">
                    <p>Apellidos:</p>
                    <input type="text" name="apellidos" placeholder="Ej: Cadena Weidmann" class="inputcontrol" required oninvalid="setCustomValidity('Debe ingresar su/s apellido/s')" oninput="setCustomValidity('')">
                </div>
            </div>
            
                
                <div class="formulariodiv">
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" class="inputcontrol" required>
                </div>
            
            
            
                
                <div class="formulariodiv">
                <label for="domicilio">Domicilio:</label>
                <input type="text" id="domicilio" name="domicilio" placeholder="Ej: Av. Triunvirato 444 Dept 4-A" class="inputcontrol" required oninvalid="setCustomValidity('Debe ingresar su domicilio')" oninput="setCustomValidity('')">
                </div>
            
            
        <div class="formColumnas">
                
                <div class="formulariodiv">
                    <p>Contraseña:</p>
                    <input type="password" name="contraseña" class="inputcontrol" minlength="6" required oninvalid="setCustomValidity('Debe ingresar un mínimo de 6 caracteres en su contraseña')" oninput="setCustomValidity('')">
                </div>
            
                
                <div class="formulariodiv">
                    <p>Confirmar Contraseña:</p>
                    <input type="password" id="cpass" name="ccontraseña" class="inputcontrol" minlength="6" required oninvalid="setCustomValidity('La contraseña ingresada debe coincidir con la anteriormente escrita')" oninput="setCustomValidity('')">
                </div>
        </div>
        
            <div class="contenedorButton"><button type="submit" class="buttonform">Crear cuenta</button></div>

            <label class="labelLogin">Si ya tenés una cuenta ingresá haciendo click <a href="http://localhost:3000/login">acá</a></label>
            
        </form>


    </main>


    <footer>
        <div class="flexFooter">
        <div class="footer">
            <h3>Medios de Pago</h3>
            <img src="/images/mediosdepago.png" alt="mediosdepago" class="imgmediosdepago">
        </div>
        <div class="footer">
            <h3>Nuestras redes sociales</h3>
            <img src="/images/redessociales.png" alt="redessociales">
        </div>
        <div class="footer">
            <h3>Contacto</h3>
            <p>tienda5@gmail.com</p>
        </div>
        </div>

    </footer>
    
</body>
</html>