*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif; 
}

#bienvenida{
    color: #ffffff;
    background-color: #c8aa86;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}

/* Estilos para el header */
header{
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: #ffffff;
}
.navBar img{
    width: 20vw;
    height: 100%;
}
.navBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navBar ul{
    list-style: none;
    display: flex;
}
.navBar ul li{
    margin: 0px 5px;
    padding: 5px;
}

.navBar ul li a{
    text-decoration: none;
    color: #000;
}

.liOcultoNavBar{
    display: none;
}

/* Estilos para el slider */

#slider{
 margin: auto;
 max-width: 800px;
 width: 100%;
 padding: 30px;
}

#slider ul li {
   padding: 0;
   margin: 0;
   list-style: none;
}

#slider ul.slider{
 position: relative;
 max-width: 800px;
 width: 100%;
 height: 300px;
}

#slider ul.slider li {
   position: absolute;
   left: 0px;
   top: 0px;
   opacity: 0;
   width: inherit;
   height: inherit;
   transition: opacity 0.5s;
   background:#fff;
}

#slider ul.slider li img{
 width: 100%;
 height: 300px;
 object-fit: cover;
}

#slider ul.slider li:first-child {
   opacity: 1; /*Mostramos el primer <li>*/
}

#slider ul.slider li:target {
   opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

#slider ul.menu{
    text-align: center;
}
#slider ul.menu li{
 display: inline-block;
}

#slider ul.menu li a{
 /* display: inline-block; */
 color: white;
 text-decoration: none;
 background-color: #000;
 padding: 3px;
 width: 20px;
 height: 20px;
 font-size: 10px;
 border-radius: 100%;
}


/* Estilos para Main */
main  {
    margin-top: 60px;
}
main h2{
    text-align: center;
    font-size: 24px;
}

.serviciosMobile{
    text-align: center;
}
.serviciosDesktop{
    display: none;
}

article{
    text-align: center;
    background-color: white;
    margin: 10px 15px;
    width: 20vw;
    height: 50%;
    padding: 5px;
}
article img{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}

h3{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    margin-bottom: 5px;
}
.precio{
    font-weight: bold;
    margin-bottom: 5px;
}
.desc{
    font-size: 12px;
    margin-bottom: 5px;
}
.BotonCompra{
    color: #ffffff;
    background-color: #c8aa86;
    border-radius: 30px;
    padding: 5px;
    
}

.BotonCompra a{
    text-decoration: none;
    color: #ffffff;
}

.articulosMobile{
    display: flex;
    justify-content: space-around;
    align-items: center
}

#botonVerMas{
    color: #ffffff;
    background-color: #c8aa86;
    padding: 10px;
    font-size: 12px;
    border-radius: 30px;
    padding: 5px;
    font-family: 'Playfair Display', serif; 
    text-align: center;
    width: 100px;
    margin: auto;
    margin-bottom: 5px;
}

/* Estilos para Footer */

footer{
    border-top: #DCDCDC solid 1px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.footer{
    text-align: center;
    margin: 10px;
    width: 50%;
    margin: auto;
}
.imgmediosdepago{
    width: 50%;
}

/* Estilos para Detalle de producto */

.tituloImagen{
    width: 50%;
    margin-left: 20%;
    margin-bottom: 2%;
}
.productoDetalle{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
    width: 100%;
}
.imagenImagen{
    width: 100%;
    margin-left: 20%;
}
.detallesImagen{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    height: 400px;
    box-sizing: content-box;
    margin-right: 10%;
    width: 100%;
}
.nombreProducto{
    font-size: xx-large;
}
.precioVenta{
    font-size: x-large;
    font-weight: bold;
}
.formasPago{
    font-weight: bold;
    margin-bottom: 5%;
}
.cantidadVenta{
    font-weight: bold;
}
.cantidadFlex{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 5%;
}
.fa-solid.fa-circle-minus{
    margin-right: 5px;
}
.fa-solid.fa-circle-1{
    margin-right: 5px;
}
.botonAgregarCarrito{
    text-align: center;
    padding: 10px;
    background-color: #DCDCDC;
    border: #DCDCDC solid 1px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    transition: all 450ms;
}
.botonAgregarCarrito:hover{
    background-color: #c8aa86;
    border-radius: 15px;
}
.botonAgregarCarrito a{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}
.costoEnvio{
    font-weight: bold;
}
.descuentoFlex{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}
.fa-solid.fa-money-bill-1{
    margin-right: 5px;
}
.constoEnvioFlex{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.fa-solid.fa-truck{
    margin-right: 5px;
}

/* Estilos para Formularios de Registro  y Login */

h3.formulario{
    text-align: center;
    font-size: 22px;
}

.formulario{
    padding: 20px;
    margin: auto;
    width: 50vw;
    text-align: left;
}
.formColumnas div{
    display: inline-block;
    text-align: justify;
    margin: 5px 10px;
}
.formulariodiv{
    text-align: justify;
    margin: 5px 10px;
}
.formulariodiv label{
    display: block; 
}
.inputcontrol{
    margin: 10px;
    padding: 5px;
    width: 100%;
    border: #DCDCDC solid 1px;
    border-radius: 10px;
    font-size: 12px;
}

button.buttonform{
    padding: 10px;
    background-color: #DCDCDC;
    border: #DCDCDC solid 1px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    transition: all 450ms;
}
button.buttonform:hover{
    background-color: #c8aa86;
    color: #ffffff;
    border-radius: 15px;
}
.labelLogin{
    font-size: 12px;
}
.labelLogin a{
    color: #000;
}

.optionLogin{
    font-size: 12px;
    text-align: right;
}
.optionLogin a{
    color: #000;
}

/*ESTILOS PARA LA VISTA productCart.html */

.mainProdCart {
    width: 90%;
    margin-left: 50px;
}

div.sectionProdCart1 {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content:space-between
}

.sectionProdCart2 {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
}

.sectionProdCart1, .sectionProdCart2 {
    width: 40%;
    display: flex;
}

.imagen-ProductCart {
    width: 40%;
    display: flex;
}

div.detalles-productCart {
    margin: 20px;
}

div.detalles-productCart p  {
    margin-top: 25px;

}

.resta-suma {
    display: flex;
    padding-left: 5px;
    margin-top: 20px;
    
}    

.resta-suma span {
    padding: 5px;
    background-color: #c8aa86;
    border-radius: 55px;
}

#cant {
    text-align: center;
}

div.precio {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.parrafos {
    margin: 40px 20px 20px 0px;
}

div.parrafos {
    margin: 30px 0px;
}

div.subtotal, .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c8aa86;
    border-radius: 25px;
}

div.costo, .descuento {
    margin: 20px 25px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtotal .total {
    margin: 10px;
}

.subtotal .total .material-symbols-outlined {
    margin-top: 15px 0px;
    margin-right: 40px;
}

.botonesCompras-ProdCart {
    display: flex;
    justify-content: space-around;
}

.compra {
    margin: 5%;
    width: 20%;
    padding: 0.9vw;
    display: flex;
    flex-direction: row;
    background-color: #c8aa86;
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    border: #c8aa86;
    border-radius: 25px;
}

.compra button:hover {
    background-color: #a78964; 
}
 


/* Media Queries */



@media (min-width: 425px){
    .serviciosMobile{
        display: none;
        }
    .serviciosDesktop{
            display: flex;
            justify-content: space-around;
            text-align: center;
        }

}

@media (min-width: 992px){
    .liOcultoNavBar{
        display: block;
    }
    .menuOcultoNavBar{
        display: none;
    }

    .serviciosMobile{
    display: none;
    }
    .serviciosDesktop{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    .articulosDesktop{
        display: flex;
        justify-content: space-around;
    }
    .flexFooter{
        display: flex;
        justify-content: space-between;
    }
    .footer{
        margin-top: 0px ;
    }
    article .BotonCompra{
        opacity: 0;
    }
    article:hover .BotonCompra{
        opacity: 1;
    }

}