<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %> 


<body>

    <%- include("../partials/welcome") %>

    <%- include("../partials/header") %>


    <main>

        <h2>NOVEDADES</h2>

        <div id="slider">
  
            <ul class="slider">
              <li id="slide1"><img src="/images/cerilla2.jpeg" alt="cerillas"></li>
              <li id="slide2"><img src="/images/mate2.jpeg" alt="mates"></li>
              <li id="slide3"><img src="/images/spray5.jpeg" alt="spray"></li>
            </ul>
            
            <ul class="menu">
              <li><a href="#slide1">1</a></li>
              <li><a href="#slide2">2</a></li>
              <li><a href="#slide3">3</a></li>
            </ul>
            
        </div>

        <section>
            <div class="serviciosMobile"><p>PAGÁ EN EFECTIVO O TRANSFERENCIA    CON ENVÍO A TODO EL PAÍS    Y CON DEVOLUCIONES!!!</p></div>

            <div class="serviciosDesktop">
            <div><span class="material-symbols-outlined">account_balance</span>
                <h4>EFECTIVO/TRANSFERENCIA</h4>
                <p>10% DE DESCUENTO EN SU COMPRA</p>
            </div>

            <div><span class="material-symbols-outlined">local_shipping</span>
                <h4>ENVÍO A TODO EL PAÍS</h4>
                <p>COMPRÁ SIN SALIR DE TU CASA</p>
            </div>

            <div><span class="material-symbols-outlined">cached</span>
                <h4>DEVOLUCIONES</h4>
                <p>HASTA 14 DÍAS DESPUÉS DE SU COMPRA</p>
            </div></div>
        </section>


        
        <div class="articulosDesktop">
        <div class="articulosMobile">
        <article>
            <img src="/images/almohadon1.jpeg" alt="almohadon1">
            <div>
                <h3>Almohadón Chill Here</h3>
                <p class="precio">$2.778,00</p>
                <p class="desc">10% off en efectivo/transf</p>
                <p class="BotonCompra"><a href="/products/DetalleProducto">Comprar</a></p>
            </div>
        </article>

        <article>
            <img src="/images/hornitozen2.jpeg" alt="hornitozen2">
            <div>
                <h3>Hornito ZEN</h3>
                <p class="precio">$1.610,00</p>
                <p class="desc">10% off en efectivo/transf</p>
                <p class="BotonCompra"><a href="/products/DetalleProducto">Comprar</a></p>
            </div>
        </article></div>

        <div class="articulosMobile">
        <article>
            <img src="/images/maceta1.jpeg" alt="maceta1">
            <div>
                <h3>Maceta Panal</h3>
                <p class="precio">$1.333,00</p>
                <p class="desc">10% off en efectivo/transf</p>
                <p class="BotonCompra"><a href="/products/DetalleProducto">Comprar</a></p>
            </div>
        </article>

        <article>
            <img src="/images/manta1.jpeg" alt="manta1">
            <div>
                <h3>Mantas Marsia</h3>
                <p class="precio">$3.888,50</p>
                <p class="desc">10% off en efectivo/transf</p>
                <p class="BotonCompra"><a href="/products/DetalleProducto">Comprar</a></p>
            </div>
        </article></div></div>

        <div class="articulosDesktop">
        <div class="articulosMobile">
        <article>
            <img src="/images/taza3.jpeg" alt="taza3">
            <div>
                <h3>Taza Portugal</h3>
                <p class="precio">$1.834,00</p>
                <p class="desc">10% off en efectivo/transf</p>
                <p class="BotonCompra"><a href="/products/DetalleProducto">Comprar</a></p>
            </div>
        </article>

        <article>
            <img src="/images/vela1.jpeg" alt="vela1">
            <div>
                <h3>Vela 1993</h3>
                <p class="precio">$1.112,00</p>
                <p class="desc">10% off en efectivo/transf</p>
                <p class="BotonCompra"><a href="/products/DetalleProducto">Comprar</a></p>
            </div>
        </article></div>

        <div class="articulosMobile">
        <article>
            <img src="/images/spray5.jpeg" alt="spray5">
            <div>
                <h3>Home Spray</h3>
                <p class="precio">$834,00</p>
                <p class="desc">10% off en efectivo/transf</p>
                <p class="BotonCompra"><a href="/products/DetalleProducto">Comprar</a></p>
            </div>
        </article>

        <article>
            <img src="/images/mate1.jpeg" alt="mate1">
            <div>
                <h3>Mate Luego Existo</h3>
                <p class="precio">$1.445,00</p>
                <p class="desc">10% off en efectivo/transf</p>
                <p class="BotonCompra"><a href="/products/DetalleProducto">Comprar</a></p>
            </div>
        </article></div></div>


        <div id="botonVerMas">VER MÁS</div>
    </main>


    <%- include("../partials/footer") %>
    
</body>
</html>