<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <img src="/public/images/logo_De_Tienda-5(1).png" id="logo" alt="logo_EME">
        
    </header>    
    <main>
        <h2>Mi carrito</h2>
        <section class="section1">
            <img src="/public/images/almohadon1.jpeg" alt="almohadon">
            <div class="detalles">
                <p>Descripcion</p>
                <p>Color:</p>
                <i class="fa-solid fa-minus"></i>
                <p id="cant">cantidad</p>
                <i class="fa-solid fa-plus"></i>
            </div>
            <p class="precio"><i class="fa-solid fa-dollar-sign"></i>Precio</p>
        </section>
        
        <section class="section2">
            <img src="/public/images/maceta1.jpeg" alt="maceta">
            <div class="detalles">
                <p>Descripcion</p>
                <p>Color:</p>
                <i class="fa-solid fa-minus"></i>
                <p id="cant">cantidad</p>
                <i class="fa-solid fa-plus"></i>
            </div>
            <p class="precio"><i class="fa-solid fa-dollar-sign"></i>Precio</p>
        </section>

        <div class="parrafos">
            <p id="subtotal">Subtotal</p>
            <P>Calcular costo de envío<i class="fa-solid fa-truck"></i></P>
            <p>¿Tienes un descuento?<i class="fa-solid fa-cart-arrow-down"></i></p>
            <p id="total">Total</p>
            <p id="iniCompra">Iniciar compra</p>
            <p id="seguirCompra">Seguir comprando</p>
        </div>
    </main>

    <footer>

    </footer>
</body>
</html>