<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>


<body>

    <%- include("../partials/welcome") %>

    <%- include("../partials/header") %>


    <main>
        <h3 class="formulario">Inicio de Sesión</h3>
        <form action="/Usuarios/login" method="POST" class="formulario">

                <div class="formulariodiv">
                    <label for="email">Ingresá tu correo electrónico:</label>
                    <input type="email" id="email" name="email" class="inputcontrol" required>
                </div>
            
                <div class="formulariodiv">
                    <label for="contraseña">Ingresá tu contraseña:</label>
                    <input type="password" name="password" id="contraseña" class="inputcontrol" minlength="6">
                </div>
            
                
                <div class="optionLogin">
                    <label>Recordar mi cuenta</label>
                    <input type="checkbox" name="remember_user">
                </div>
        
                <div class="optionLogin"><label>¿Olvidaste tu contraseña? <a href="#">Recuperala</a></label></div>

                <div class="contenedorButton"><button type="submit" class="buttonform">Iniciar Sesión</button></div>

                <label class="labelLogin">Si no tenés una cuenta, crea una haciendo click <a href="http://localhost:3000/Usuarios/Registrarse">acá</a></label>
            
        </form>


    </main>


    <%- include("../partials/footer") %>
    
</body>
</html>