<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>


<body>

    <%- include("../partials/welcome") %>

    <%- include("../partials/header") %>


    <main>
        <h3 class="formulario">Crea tu cuenta</h3>
        <form action="/" method="post" class="formulario">
            <div class="formColumnas">
                
                <div class="formulariodiv">
                    <p>Nombres:</p>
                    <input type="text" name="nombres" placeholder="Ej: Pablo Gabriel" class="inputcontrol" required oninvalid="setCustomValidity('Debe ingresar su/s nombre/s')" oninput="setCustomValidity('')">
                </div>
            
                
                <div class="formulariodiv">
                    <p>Apellidos:</p>
                    <input type="text" name="apellidos" placeholder="Ej: Cadena Weidmann" class="inputcontrol" required oninvalid="setCustomValidity('Debe ingresar su/s apellido/s')" oninput="setCustomValidity('')">
                </div>
            </div>
            
                
                <div class="formulariodiv">
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" class="inputcontrol" required>
                </div>
            
            
            
                
                <div class="formulariodiv">
                <label for="domicilio">Domicilio:</label>
                <input type="text" id="domicilio" name="domicilio" placeholder="Ej: Av. Triunvirato 444 Dept 4-A" class="inputcontrol" required oninvalid="setCustomValidity('Debe ingresar su domicilio')" oninput="setCustomValidity('')">
                </div>
            
            
        <div class="formColumnas">
                
                <div class="formulariodiv">
                    <p>Contraseña:</p>
                    <input type="password" name="contraseña" class="inputcontrol" minlength="6" required oninvalid="setCustomValidity('Debe ingresar un mínimo de 6 caracteres en su contraseña')" oninput="setCustomValidity('')">
                </div>
            
                
                <div class="formulariodiv">
                    <p>Confirmar Contraseña:</p>
                    <input type="password" id="cpass" name="ccontraseña" class="inputcontrol" minlength="6" required oninvalid="setCustomValidity('La contraseña ingresada debe coincidir con la anteriormente escrita')" oninput="setCustomValidity('')">
                </div>
        </div>
        
            <div class="contenedorButton"><button type="submit" class="buttonform">Crear cuenta</button></div>

            <label class="labelLogin">Si ya tenés una cuenta ingresá haciendo click <a href="http://localhost:3000/users/login">acá</a></label>
            
        </form>


    </main>


    <%- include("../partials/footer") %>
    
</body>
</html>