<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>


<body>

    <%- include("../partials/welcome") %>

    <%- include("../partials/header") %>

    <main class="mainProdCart">
        <h2>MI CARRITO</h2>
        <section class="sectionProdCart1">
            <img src="/images/products/almohadon1.jpeg" class="imagen-ProductCart" alt="almohadon">
            <div class="detalles-productCart" style="flex-grow: 1">
                <p>Descripcion</p>
                <p>Color:</p>
                <div class="resta-suma">
                    <i class="fa-solid fa-circle-minus"></i>
                    <p id="cant">cantidad</p>
                    <i class="fa-solid fa-circle-plus"></i>
                </div>    
            </div>
            <div class="precio" style="flex-grow: 1">
                <p>Precio</p>
                <span class="material-symbols-outlined">attach_money</span>
            </div>    
        </section>
        
        <section class="sectionProdCart2">
            <img src="/images/products/manta4.jpeg" class="imagen-ProductCart" alt="maceta">
            <div class="detalles-productCart" style="flex-grow: 1">
                <p>Descripcion</p>
                <p>Color:</p>
                <div class="resta-suma">
                    <i class="fa-solid fa-circle-minus"></i>
                    <p id="cant">cantidad</p>
                    <i class="fa-solid fa-circle-plus"></i>
                </div>
                
            </div>
            <div class="precio" style="flex-grow: 1">
                <p>Precio</p>
                <span class="material-symbols-outlined">attach_money</span>
            </div>
        </section>

        <div class="parrafos">
            <div class="subtotal">
                <p>Subtotal</p>
                <span class="material-symbols-outlined">attach_money</span>
            </div>
            <div class="costo-productCart">
                <P>Calcular costo de envío></P>
                <span class="material-symbols-outlined">local_shipping</span>
            </div>
            <div class="descuento-productCart">
                <p>¿Tienes un descuento?</p>
                <span class="material-symbols-outlined">savings</span>
            </div>
            <div class="total">
                <p>Total</p>
                <span class="material-symbols-outlined">attach_money</span>
            </div>
            <div class="botonesCompras-ProdCart">
                <button class="compra" type="submit">Iniciar compra</button>
                <button class="compra" type="submit">Seguir comprando</button>
            </div>
        </div>
    </main>

    <%- include("../partials/footer") %>
    
</body>
</html>
    