<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>

    <%- include("../partials/welcome") %>

    <%- include("../partials/header") %>

    <main class="mainProdCart">
        <h2>¿Cómo quieres recibir o retirar tu compra?</h2>
        <section class="section-ProdSend">
            <div class="codigo-postal">
                <label><input type="radio" name="envio"> Código Postal</label>
                <input type="text" name="postal" id="postal" placeholder="Ingresá tu código postal">
                <p>Precio</p>
                <span class="material-symbols-outlined">attach_money</span>
            </div>
            <div class="en-tienda">
                <label><input type="radio" name="envio"> Retirá de nuestra tienda sin costo</label>
                <span class="material-symbols-outlined">local_shipping</span>
                <p>Sin costo</p>
            </div>
        </section>
    </main>

    <%- include("../partials/footer") %>
    
</body>
</html>
    