<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>


<body>

    <%- include("../partials/welcome") %>

    <%- include("../partials/header") %>


    <main>


        <div class="tituloImagen">
            <h3><strong>Inicio > Textiles > Almohadones ></strong></h3>
            <h3><strong>Almohadón Chill Here></strong></h3>
        </div>

        <div class="productoDetalle">
            <div class="imagenImagen">
                <img src="/images/almohadon1.jpeg" width="300" height="400" alt="almohadon1">
            </div>

            <div class="detallesImagen">
                <p class="nombreProducto">Almohadón Chill Here</p>    
                <p class="precioVenta">$2.778,00</p>
                <div class="descuentoFlex">
                    <i class="fa-solid fa-money-bill-1"></i>
                    <p class="descuento">10% de descuento pagando por transferencia bancaria o efectivo</p>
                </div>
                <p class="formasPago">Ver formas de pago</p>
                <p class="cantidadVenta">Cantidad</p>
                <div class="cantidadFlex">
                    <i class="fa-solid fa-circle-minus"></i>
                    <i class="fa-solid fa-circle-1"></i>
                    <i class="fa-solid fa-circle-plus"></i>
                </div>

                <form action="/products/Carrito" method="get">
                <div class="contenedorButton"><button type="submit" class="buttonform">Agregar al carrito</button></div>
                </form>
                
                <div class="constoEnvioFlex">
                    <i class="fa-solid fa-truck"></i>
                    <p class="costoEnvio">Calculá el costo de envío</p>
                </div>
            </div>
        </div>

    </main>


    <%- include("../partials/footer") %>
    
</body>
</html>