<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %>

<body>

    <%- include("../partials/welcome") %>

    <%- include("../partials/header") %>

    <main>
        
        <!-- campos a requerir
        - categoria( textiles, giftbox, prod aromaticos, frascos, tazas y mates, posavasos e individuales, accesorios)
        - stock inicial
        - nombre del producto
        - descripcion del prod
        - imagen del prod
        - precios
        - enOferta?
        - SKU
        -->

    </main>




    <%- include("../partials/footer") %>

</body>
</html>