<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %>

<body>

    <%- include("../partials/welcome") %>

    <%- include("../partials/header") %>
       
        <main>
            <h3 class="formularioCreaProducto">Ingresá nuevos productos al Sitio</h3>
            <form action="/Productos/creacionProducto" method="POST" enctype="multipart/form-data" class="formulario">
                <div class="formColumnas">
                    
                    <div class="formulariodiv">
                        <label>Código producto (SKU):</label>
                        <input type="text" name="sku" class="inputcontrol">
                    </div>

                    <div class="formulariodiv">
                        <label>Categoría:</label>
                        <select type="text" name="productCategoryId" class="inputcontrol">
                            <option value="textiles">Textiles</option>
                            <option value="giftbox">Giftbox</option>
                            <option value="aromaticos">Aromáticos</option>
                            <option value="frascos">Frascos</option>
                            <option value="tazaMate">Tazas y Mates</option>
                            <option value="posaIndiv">Posavasos e Individuales</option>
                            <option value="accesorios">Accesorios</option>
                        </select>    
                    </div>
                   
                </div>
                
                    
                    <div class="formulariodiv">
                    <label>Nombre producto:</label>
                    <input type="text" name="name" class="inputcontrol">
                    </div>
                                
                    
                    <div class="formulariodiv">
                    <label>Descripción:</label>
                    <textarea name="description" class="inputcontrol"></textarea>
                    <label>Características:</label>
                    <textarea name="feature" class="inputcontrol"></textarea>
                    </div>
                
                
            <div class="formColumnas">
                    
                    <div class="formulariodiv">
                        <label>Imágen:</label>
                        <input type="file" name="image" class="inputcontrol" accept="image/*" >
                    </div>
                
                    
                    <div class="formulariodiv">
                        <label>Precio venta:</label>
                        <input type="number" name="price" class="inputcontrol" >
                    </div>

                    <div class="formulariodiv">
                        <label>Stock inicial:</label>
                        <input type="number" name="stock" class="inputcontrol" >
                    </div>

            </div>
            
                <div class="contenedorButton"><button type="submit" class="buttonform">Alta</button></div>
    
                
                
            </form>
    
    
        </main>
     
   




    <%- include("../partials/footer") %>

</body>
</html>