<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %>

<body>

    <%- include("../partials/welcome") %>

    <%- include("../partials/header") %>

      <!-- campos a requerir
        - ++categoria( textiles, giftbox, prod aromaticos, frascos, tazas y mates, posavasos e individuales, accesorios)
        - stock inicial
        - ++nombre del producto
        - ++descripcion del prod
        - ++imagen del prod
        - ++precios
        - ++SKU
        -->

        
        <main>
            <h3 class="formulario">Ingresá nuevos productos al Sitio</h3>
            <form action="/" method="post" class="formulario">
                <div class="formColumnas">
                    
                    <div class="formulariodiv">
                        <label>Código producto (SKU):</label>
                        <input type="text" name="sku" class="inputcontrol" required oninvalid="setCustomValidity('Debe ingresar un SKU válido')" oninput="setCustomValidity('')">
                    </div>

                    <div class="formulariodiv">
                        <label>Categoría:</label>
                        <select type="text" name="categoria" class="inputcontrol" required oninvalid="setCustomValidity('Debe seleccionar una categoría')" oninput="setCustomValidity('')">
                            <option value="textiles">Textiles</option>
                            <option value="giftbox">Giftbox</option>
                            <option value="aromaticos">Aromáticos</option>
                            <option value="frascos">Frascos</option>
                            <option value="tazaMate">Tazas y Mates</option>
                            <option value="posaIndiv">Posavasos e Individuales</option>
                            <option value="accesorios">Accesorios</option>
                        </select>    
                    </div>
                   
                </div>
                
                    
                    <div class="formulariodiv">
                    <label>Nombre producto:</label>
                    <input type="text" name="nomProd" class="inputcontrol" required oninvalid="setCustomValidity('Debe ingresar un nombre')">
                    </div>
                
                
                
                    
                    <div class="formulariodiv">
                    <label>Descripción:</label>
                    <textarea name="descripcion" class="inputcontrol" required oninvalid="setCustomValidity('Debe ingresar una descripción')" oninput="setCustomValidity('')"></textarea>
                    </div>
                
                
            <div class="formColumnas">
                    
                    <div class="formulariodiv">
                        <label>Imágen:</label>
                        <input type="file" name="imagen" class="inputcontrol" accept="image/*" required oninvalid="setCustomValidity('Debe ingresar un formato valido de imágen')" oninput="setCustomValidity('')">
                    </div>
                
                    
                    <div class="formulariodiv">
                        <label>Precio venta:</label>
                        <input type="number" name="precio" class="inputcontrol" required oninvalid="setCustomValidity('Ingrese un precio de venta')" oninput="setCustomValidity('')">
                    </div>

                    <div class="formulariodiv">
                        <label>Stock inicial:</label>
                        <input type="number" name="stock" class="inputcontrol" required oninvalid="setCustomValidity('Ingrese el inventario inicial')" oninput="setCustomValidity('')">
                    </div>

            </div>
            
                <div class="contenedorButton"><button type="submit" class="buttonform">Alta</button></div>
    
                
                
            </form>
    
    
        </main>
     
   




    <%- include("../partials/footer") %>

</body>
</html>